body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #282a36;
    color: #f8f8f2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

h1 {
    color: #bd93f9;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #44475a;
    color: #f8f8f2;
    border: 1px solid #6272a4;
    border-radius: 10px;
}

button {
    padding: 10px;
    background-color: #bd93f9;
    color: #282a36;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #6272a4;
}

p {
    margin: 10px 0;
    color: #6272a4;
}

.error {
    color: #ff5555;
}

a {
    color: #8be9fd; /* Light blue */
    text-decoration: none;
}

a:hover {
    color: #bd93f9; /* Light purple on hover */
}
